.analytics__title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .analytics__title {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .analytics__title {
  }
}
