@import url('./__title/analytics__title.css');
@import url('./__data/analytics__data.css');
@import url('./__graph/analytics__graph_data.css');

.analytics {
  font-size: 22px;
  background-color: #F5F6F7;
  padding: 25px 16px 20px 16px;
}

@media screen and (min-width: 768px) {
  .analytics {
  }
}

@media screen and (min-width: 1440px) {
  .analytics {
  }
}
