@import url('./__icon/pagination__icon.css');

.pagination {
  display: flex;
  margin: 5% 0 9% 0;
  justify-content: center;
  column-gap: 9px;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin: 32px 0 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .pagination {
    margin: 3% 0 3% 0;
  }
}
