.graph__title_container {
  margin: 15px 0 9px 0;
  padding-bottom: 9px;
  display: flex;
  border-bottom: 2px solid #1A1B22;
}

@media screen and (min-width: 768px) {
  .graph__title_container {
    margin: 46px 0 0px 0;
    padding-bottom: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .graph__title_container {
  }
}
