@import url('./__avatar/author__avatar.css');
@import url('./__title/author__title.css');
@import url('./__subtitle/author__subtitle.css');

.author {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "avatar"
    "title"
    "subtitle";
}

.author-git {
  column-gap: 5%;
  grid-template-columns: 19% auto;;
}

@media screen and (min-width: 768px) {
  .author {
    grid-template-areas:
      "avatar title"
      "avatar subtitle";
    column-gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .author {
    column-gap: 59px;
  }
}
