.result-card__title {
  margin: 0 5%;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #1A1B22;
  margin: 5% 5% 5px 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .result-card__title {
    margin: 0 8%;
    line-height: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .result-card__title {
    margin: 0 6%;
    line-height: 24px;
    font-size: 26px;
    line-height: 31px;
  }
}
