@import "./__copyright/footer__copyright.css";
@import "./__menu/footer__menu.css";
@import "./__menu-item/footer__menu-item.css";
@import "./__link/footer__link.css";
@import "./__social-container/footer__social-container.css";
@import "./__social-link/footer__social-link.css";
@import "./__icon/footer__icon.css";


.footer {
  display: flex;
  justify-content: space-between;
  padding: 21px 16px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 21px 39px 18px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 28px 101px 15px 39px;
  }
}
