.header__nav-block {
  padding: 16px 5% 16px 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__nav-block {
    padding: 23px 5% 16px 5%;
  }
}

@media screen and (min-width: 1440px) {
  .header__nav-block {
    padding: 32px 6% 22px 7%;
  }
}
