.header__nav-block {
  padding: 16px 5% 16px 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__nav-block {
    padding: 20px 5% 16px 5%;
  }
}
