.result-card__content_block {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 17px;
  min-height: 350px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .result-card__content_block {

  }
}

@media screen and (min-width: 1440px) {
  .result-card__content_block {

  }
}
