.search__subtitle {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .search__subtitle {
    font-size: 18px;
  }
}
