.content__result-grid {
  padding: 10% 5% 14% 5%;
}

@media screen and (min-width: 768px) {
  .content__result-grid {
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-areas:
      "title title title .... link link"
      "cards cards cards cards cards cards"
      ".... more more more more ....";
  }
}

@media screen and (min-width: 1440px) {
  .content__result-grid {
      padding: 83px 104px 20px 104px;
  }
}
